#body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    height: 100%;
}

.btn {
    border-radius: 60px !important;
    width: 50% !important;
}

#loader .modal-content {
    background-image: url('../images/desktop_bg.png');
}