<div id="loader" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body striped-info-light">
                <div class="container text-dark">
                    <div class="row justify-content-md-center align-items-center">
                        <div class="spinner-border text-light" role="status">
                            <span class="sr-only">Chargement...</span>
                        </div>
                        <strong style='color: #FFF'>Test du lecteur Youtube</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>