<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1080">
    <div id="infoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="7000">
        <div class="toast-header info-bg text-white">
        <strong class="me-auto">Information</strong>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span class="toast-message">Info</span>
        </div>
    </div>
</div>