<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1080">
    <div id="warningToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="7000">
        <div class="toast-header warning-bg text-black">
        <strong class="me-auto">Attention</strong>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span class="toast-message">Ne mets pas tes doigts dans la porte</span>
        </div>
    </div>
</div>